body {
    padding:0;
    margin:0;
    background:#f8f8e3;
    display:flex;
    height:100vh;
    align-items: center;
    font-family: sans-serif , Arial, Helvetica;
}
.screen {
    flex:1;
    display:flex;
    justify-content: end;
    align-items: end;
    min-height: 75px;
    margin: 8px;
    background:gray;
    color:white;
    border-radius:10px;
    padding:8px;
    font-size: 32px;
}

.calculator {
    background:peachpuff;   
    max-width: 75vh;
    min-height:75vh;
    margin:0 auto;
    flex:auto;
    padding:16px;
    display:flex;
    flex-direction: column;
}

.buttons-one {
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    gap:8px;
    
}

.plus , .allClear , .negative ,.equals {
   
    flex:auto;
    min-height: 75px;
    font-size: 18px;
    color:white;
    background: black;
    border-radius: 10px;
    transition:all 0.25s;


}
.buttons-one .plus {
    font-size: 24px;
}

.plus:hover , .allClear:hover , .negative:hover ,.equals:hover {
    background:#ffffe5;
    cursor:pointer;
    color:black;
    font-size: 24px;
    
}

.one , .two , .three , .minus {
    flex:1;
    font-size: 24px;
    color:white;
    background: black;
    border-radius: 10px;
    transition:all 0.25s;
    min-height: 75px;
    
}

.one:hover , .two:hover , .three:hover , .minus:hover {
    background:#ffffe5;
    cursor:pointer;
    color:black;
    font-size: 32px;
}

.four , .five , .six , .multiply {
    flex:1;
    background: black;
    font-size: 24px;
    min-height: 75px;
    transition:all 0.25s;
    color:white;
    border-radius: 10px;
}

.four:hover , .five:hover , .six:hover , .multiply:hover {
    background:#ffffe5;
    cursor:pointer;
    color:black;
    font-size: 32px;
}

.seven , .eight , .nine , .divide {
    flex: 1;
    min-height: 75px;
    transition:all 0.25s;
    font-size: 24px;
    color:white;
    background: black;
    border-radius: 10px;
}
.seven:hover , .eight:hover , .nine:hover , .divide:hover {
    background:#ffffe5;
    cursor:pointer;
    color:black;
    font-size: 32px;
}

.zero {
    flex:1;
    background: black;
    font-size: 24px;
    min-height: 75px;
    transition:all 0.25s;
    color:white;
    border-radius: 10px;
    margin:8px;
}

.zero:hover {
    background:rgb(242, 118, 118);
    cursor:pointer;
    color:white;
    font-size: 32px;
}

.buttons-two {
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    gap:8px;
}
.buttons-three {
    flex:1; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    gap:8px;

}
.buttons-four {
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    gap:8px;
}
